<a href="{{ .Get "url" }}" class="project lang {{ .Get "css" }}">
    <div class="project-header">
        <span class="project-icon">
            <i class="{{ .Get "icon" }}"></i>
        </span>
        <div class="project-title">
            {{ replace (replace (.Get "url") "https://github.com/" "") "qbart/" "" }}
            {{ if .Get "fav" }}
            <span class="project-fav">
                <i class="fas fa-star"></i>
            </span>
            {{ end }}
        </div>
    </div>
    <p class="project-summary">{{ .Get "summary" }}</p>
    <div class="project-footer">{{ .Get "tag" }}</div>
</a>
