{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<div class="posts">
  {{- range .Data.Pages.GroupByDate "2006" }}
  <div class="posts-group">
    <div class="posts-year">{{ .Key }}</div>
    <hr>

    <div class="posts-list">
      {{- range .Pages }}
      <div class="posts-item">
        <a href="{{.RelPermalink}}">
          <span class="posts-title">{{ .Title }}</span>
          <span class="posts-day">{{ .Date.Format "Jan 2" }}</span>
        </a>
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>


{{ partial "footer.html" . }}
