{{ partial "header.html" . }}

<h1 class="page">Hello...</h1>

<div class="greeting">
{{ .Content }}
</div>

<h2 class="page">Articles</h2>
{{ $posts := where site.RegularPages "Type" "in" "posts" }}
<div class="posts">
  {{- range $posts.GroupByDate "2006" }}
  <div class="posts-group">
    <div class="posts-year">{{ .Key }}</div>
    <hr>

    <div class="posts-list">
      {{- range .Pages }}
      <div class="posts-item">
        <a href="{{.RelPermalink}}">
          <span class="posts-title">{{ .Title }}</span>
          <span class="posts-day">{{ .Date.Format "Jan 2" }}</span>
        </a>
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>

{{ $other := $.Site.Data.other.list.data }}
<h2 class="page">Other publications</h2>
<div class="slides">
  {{- range $other }}
  <div class="slides-group">
    <div class="slides-year">{{ .year }}</div>
    <hr>

    <div class="slides-list">
      {{- range .data }}
      <div class="slides-item">
        <a href="{{.url}}">
          <span class="slides-title">{{ .title }}</span>
          <span class="slides-day">{{ dateFormat "Jan 2" .date }}</span>
        </a>
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>

{{ $slides := $.Site.Data.slides.list.data }}
<h2 class="page">Slides</h2>
<div class="slides">
  {{- range $slides }}
  <div class="slides-group">
    <div class="slides-year">{{ .year }}</div>
    <hr>

    <div class="slides-list">
      {{- range .data }}
      <div class="slides-item">
        <a href="{{.url}}">
          <span class="slides-title">{{ .title }}</span>
          <span class="slides-day">{{ dateFormat "Jan 2" .date }}</span>
        </a>
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>


{{ partial "footer.html" . }}
