</div>

<footer>
  <div class="container">
    <nav>
      <a href="{{ .Site.Params.GitHub.url }}">
        <span class="icon is-small">
          <i class="fab fa-github" aria-hidden="true"></i>
        </span>
        <span class="text">{{ .Site.Params.GitHub.name }}</span>
      </a>

      <a href="{{ .Site.Params.Twitter.url }}">
        <span class="icon is-small">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </span>
        <span class="text">{{ .Site.Params.Twitter.name }}</span>
      </a>

      <a href="{{ .Site.Params.LinkedIn.url }}">
        <span class="icon is-small">
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </span>
        <span class="text">{{ .Site.Params.LinkedIn.name }}</span>
      </a>

      <a href="{{ .Site.Params.Pinterest.url }}">
        <span class="icon is-small">
          <i class="fab fa-pinterest" aria-hidden="true"></i>
        </span>
        <span class="text">{{ .Site.Params.Pinterest.name }}</span>
      </a>
    </nav>
    <div class="footnote">
      &copy; {{ .Site.Params.WWW.name }}
    </div>
    <div class="attribution">
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const burger = document.getElementById('a-burger');

    burger.addEventListener('click', () => {
      document.body.classList.toggle('burger-open');
    });
  });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>

</body>

</html>
