body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.posts-year,
footer .breadcrumb,
.navbar-item,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
}

code {
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
}
