$link-color: #009fbb;

header {
  border: 1px solid #ccc;
  min-width: 256px;
  max-width: 264px;
  padding: 14px 20px;
  margin: 20px auto;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

body * {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 20px;

  span {
    font-size: 20px;
    color: $link-color;
  }

  margin: 0 0 10px 0;
}

h2 {
  font-size: 12px;
  margin: 0;
}

body {
  background-color: #fafafa;
  color: #000;
}

.avatar {
  img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

  p {
    max-width: 80px;
  }

  span {
    border-radius: 5px;
      border: 1px solid;
  padding: 1px 4px;
  line-height: 24px;
  }
}


.col {
  &.avatar {
    float: left;
  }

  float: right;
}

a {
  color: #777;
  text-decoration: none;

  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

.clb {
  clear: both;
}

nav {
  border-top: 1px solid #ccc;
  margin-top: 10px;

  &:hover {
    span {
      font-weight: 700;
    }
  }

  span {
    color: #000;
    float: right;
  }

  a {
    display: block;
    margin-bottom: 4px;

    &:first-child {
      margin-bottom: 0px;
    }
  }
}
